*.pyc
.pio/
.vscode/
*.zip
xtensa*
apm32*
ti*
stm*
samsung*
renesas*
omap*
nrf*
netl*
lpc*
imx*
esp*
bcm*
xmc*
ek*
atmel*
nordic*
atheros*
at91*
c100*
nxp*
st*
vd*
twr*
microchip*
olimex*
sifive*
xilinx*
altera*
lattice*
marvell/
infineon/
arm/